# Car Sales Data Analysis :

## Importing Data :

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_excel(r"C:\Users\RGM\Downloads\Assignment Project 1 - Deadline 5 July, 2024\Car Sales Data.xlsx")

In [3]:
data.head()

,Unnamed: 0,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,0,C_CND_000001,2020-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,1,C_CND_000002,2020-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2,C_CND_000003,2020-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,3,C_CND_000004,2020-01-02,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,4,C_CND_000005,2020-01-02,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

# Data Cleaning :

In [4]:
data.isnull().sum()

Unnamed: 0       0
Car_id           0
Date             0
Customer Name    0
Gender           0
Annual Income    0
Dealer_Name      0
Company          0
Model            0
Engine           0
Transmission     0
Color            0
Price ($)        0
Dealer_No        0
Body Style       0
Phone            0
Dealer_Region    0
dtype: int64

**I will be Dropping the one null value which is in Customer name because it will not harm our Data that much.**

In [5]:
data.dropna(inplace = True)

In [6]:
data.duplicated().sum()

0

# SAVING THE FILE

In [8]:
data.to_csv(r"C:\Users\RGM\Downloads\Assignment Project 1 - Deadline 5 July, 2024\Car Sales Data.csv")

### Data Cleaning has been done now we will be moving towards the Data Visualization with the help of Power BI or Tableau tools.